p {
  color: #28635C ;
  font-size: 15px;
  margin: 5 auto;
  padding:10px 10px 10px 10px;
  border: 1px solid #572711;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #1A5750;
  text-shadow: #F07A78;
}

h2 {
  text-align: center;
  color: #1A5750;
  text-shadow: #78F0E2;
}

h3 {
  color: #378A80;
}

h4 {
  color: #28635C;
}

p, li {
  font-size: 17px;
  /* line-height: 2;
  letter-spacing: 1px; */
}

.para {
  font-size: 15px;
  color: #42A398;
}

.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:25%;
}

}

body {
  margin: 5 auto;
  padding:0 20px 20px 20px;
  width:auto;
  /* border:4px solid black; */
}

html {
  background-color: #F3F3F3;
  font-family: "Trebuchet MS", "Open Sans", Tahoma, Arial;
}
