p {
  color: #28635C ;
  font-size: 15px;
  margin: 5 auto;
  padding:10px 10px 10px 10px;
  border: 1px solid #572711;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #1A5750;
  text-shadow: 3px 3px 10px gray;
}

h2 {
  text-align: center;
  color: #42A398;
  text-shadow: 3px 3px 15px gray;
}

h3 {
  color:  #42A398;
  text-shadow: 3px 3px 15px gray;
}

h4 {
  color: #F0AC48;
  text-shadow: 3px 3px 15px gray;
}

h5 {
  color: #A34B49;
}

.para {
  font-size: 17px;
  color: #154673;
}



.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

body {
  margin: 5 auto;
  padding:0 20px 20px 20px;
  width:auto;
}

html {
  background-color: #F3F3F3;
  font-family: "Trebuchet MS", "Open Sans", Tahoma, Arial;
}
